.services {
    padding-bottom: 200px;
}

.services__before-title {
    text-align: center;
    display: block;
    line-height: 28px;
    letter-spacing: -0.2px;
}

.services__title {
    margin-bottom: 50px;
    text-align: center;
}

@media(min-width:1200px){
    .services__title {
        text-align: left;
    }

    .services__before-title {
        text-align: left;
    }
}

.services__small-title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
}

.services__text {
}

.services__text_important {
    color: #FFF;
}

.services__small-title_important {
    color: #FFF;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
}

@media(min-width:1200px){
    .services__list {
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

.services__item {
    max-width: 425px;
    min-height: 193px;
    padding: 40px 20px 35px 40px;
    display: flex;
    align-items: start;
    border-radius: 60px 0px;
    background: #FFF;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.14);
}

.services__item_important {
    background-color: #CAA892;

}

.services__img {
    margin-right: 20px;
    width: 40px;
    height: 40px;
}