.sign-up {
    padding-bottom: 85px;
    background-color: #fff;
}

.sign-up__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up__title {
    padding-bottom: 40px;
    margin-bottom: 40px;
    letter-spacing: 3.84px;
    line-height: 130%;
    font-size: calc(20px + (48 - 20) * ((100vw - 320px) / (1920 - 320)));
    border-bottom: 1px solid #C4C4C4;
}

@media(min-width:1920px) {
    .sign-up__title {
        font-size: 48px;
    }
}

.sign-up__text {
    text-align: center;
    max-width: 650px;
    margin-bottom: 30px;
}

.sign-up__form {
    width: 100%;
    max-width: 770px;
    margin: 0 auto;
    display: flex;
}

.sign-up__input {
    flex-grow: 1;
    border: none;
    padding: 20px 30px;
    font-size: 18px;
    border-radius: 20px 0 0 0;
    background: #EEE;
}

.sign-up__btn {
    padding: 5px 40px;
    border-radius: 0px 0px 20px 0px;
}

@media(max-width:575px) {
    .sign-up__form {
        flex-direction: column;
    }

    .sign-up__btn {
        padding: 30px;
    }
}